.navbar {
  background-color: #e5989b;
  height: 5vh;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
}

.navItems {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 35%;
}

.logo {
  font-size: 2rem;
}

li {
  color: #fff;
}

.link {
  cursor: pointer;
  font-size: 1.55rem;
}
