.card {
  border-radius: 5px;
  overflow: none;
  max-width: 30rem;
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.image {
  width: 80%;
  height: auto;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  object-fit: cover;
}

.cardContent {
  flex: 1;
  height: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

span {
  font-size: 1.55rem;
}

button {
  border: 2px solid orchid;
  font-size: 1.25rem;
  padding: 0.55rem 2rem;
  background-color: transparent;
  color: orchid;
  cursor: pointer;
}
